html, body {
      margin: 0;
      padding: 0;
	  background-color: White;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
      width: 50%;
      margin: 100px auto;
    }

    .slick-slide {
      margin: 35px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before {
      color: black;
    }
	
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

	audio { 
		height:35px;
		width: 270px; display: block;
		box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
		border-radius: 90px;
		transform: scale(0.9);
	}
	
	/*marquee{
		position: absolute;
		top: 560px;
		left: 405px;
	}*/
